/*
=========================================
    App
=========================================
 */

.reviews-margin-body {
  font-family: 'Roboto', sans-serif;
  margin: 100px, 50px;
}
.reviews-full-body {
  max-width: 1128px;
  margin: auto;
}

/*
=========================================
    RATINGS
=========================================
 */

.reviews-average {

}

.reviews-red-star {
  color: red;
}

.ratings-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


/*
=========================================
    INDIVIDUAL RATING
=========================================
 */

.individual-ratings-box {
  display: grid;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: auto;
  flex-basis: 50%;
  flex-grow: 1;
  min-width: 400px;
  max-width: 100%;
  padding-bottom: 20px;
}

.individual-rating-label {
  text-transform: capitalize;
  font-weight: 300;
}

.individual-score-bar {
  max-width: 250px;
  margin-top: 8px;
}

.individual-base-layer {
  height: 5px;
  background-color: rgba(128, 128, 128, 0.31);
  border-radius: 15px;
  width: 100%;
}

.individual-score {
  padding-left: 10px;
}

/*
=========================================
    AllReviews
=========================================
 */

.reviews-box {
  display: flex;
  flex-wrap: wrap;
}

/*
=========================================
  SINGLE REVIEW
=========================================
*/

.single-review-box {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  max-width: 100%;
  min-width: 450px;
  flex-basis: 50%;
  flex-grow: 1;
  padding-bottom: 20px;
}

.review-pic-name-date-box {
  display: grid;
  grid-template-columns: 80px 200px;
  grid-template-rows: auto;
  width: 100%;
}

.review-name-date-box {
  line-height: 30%;
  padding-top: 3px;
}

.profile-picture-shape {
  border-radius: 50%;
}

.review-date {
  font-weight: 200;
  color: rgba(0, 0, 0, 0.6);
}

.review-name {
  font-weight: 500;
}

.review-paragraph {
  padding-right: 20px;
  font-weight: 300;
  line-height: 1.6;
}

.read-more-btn {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  display: inline;
}

/*
-----------------------
    Button
-----------------------
 */

.btn-see-all-reviews {
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  outline: none;
  background: none;
  border: gray solid 1px;
}

.btn-see-all-reviews:active {
  padding: 18px;
  margin-top: 1px;
  margin-left: 1px;
}

.btn-see-all-reviews:hover {
  background-color: rgba(128, 128, 128, 0.041);
}


/*
=========================================
    Pop Up Modal
=========================================
 */

 .ReactModal__Overlay {
  z-index: 1000;
 }

.modal-for-reviews {
  font-family: 'Roboto', sans-serif;
  margin: 50px auto;
  outline: none;
  width: 90%;
  max-width: 1200px;
  height: auto;
  max-height: 90%;
  background-color: white;
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
  border-radius: 10px;
  overflow: auto;
}

.reviews-module-box {
  padding: 25px 0 30px 30px;
}

/*
-----------------------
    X Button
-----------------------
 */

.x-button-reviews {
  margin: -7px 0 0 -10px;
  height: 30px;
  width: 30px;
}

.x-button-reviews:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.055);
}

.x-position-reviews {
  display: flex;
  padding-top: 7px;
  justify-content: center;
  align-items: center;

}

/*
---------------------------
    Inner Modal Flex Box
---------------------------
 */

.modal-inside-flex {
  max-height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  overflow-y: auto;
}

.left-side-modal-reviews {
  flex-basis: 50%;
  flex-grow: 1;
}

.right-side-modal-reviews {
  flex-basis: 50%;
  flex-grow: 1;
}

.inner-right-reviews {

}

/*
-----------------------
  INPUT BAR
-----------------------
*/

.input-form-height {
  height: 50px;
}

.input-form-reviews {
  width: 90%;
  border-radius: 30px;
  padding: 15px;
  background-color: rgba(233, 220, 220, 0.098);
  border: 1px solid rgba(128, 128, 128, 0.66);
}

.input-form-reviews:focus-within {
  border: 2px solid rgba(128, 128, 128, 1);
}

.input-search-reviews{
  width: 90%;
  outline: none;
  margin-left: 10px;
  border: none;
  background-color: rgba(233, 220, 220, 0);
}

.clear-search-x {
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 1);
  color: rgb(219, 219, 219);
}

.clear-search-x:hover {
  color: rgba(219, 219, 219, 0.5);
}
