/*
=========================================
    Full body
=========================================
 */
 body {
  font-family: 'Roboto', sans-serif;
 }

.margin {
  margin: 100px;
}
.full-body {
  max-width: 1300px;
  margin: auto;
}

/*
=========================================
    RATINGS
=========================================
 */

.ratings-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/*
    INDIVIDUAL RATING
 */
.individual-ratings-box {
  display: grid;
  grid-template-columns: 35% 45% 20%;
  grid-template-rows: auto;
  flex-basis: 50%;
  flex-grow: 1;
  min-width: 400px;
  max-width: 100%;
  padding-bottom: 20px;
}

.rating-label {
  text-transform: capitalize;
}

.base-layer {
  height: 5px;
  background-color: rgba(128, 128, 128, 0.31);
  border-radius: 15px;
  width: 100%;
}

.score-bar {
  max-width: 250px;
  margin-top: 6px;
}
.score {
  padding-left: 10px;
}

.red-star {
  color: red;
}

/*
=========================================
    Reviews
=========================================
 */

.reviews-box {
  display: flex;
  flex-wrap: wrap;
}

/*
  SINGLE REVIEW
*/

.individual-review-box {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  max-width: 100%;
  min-width: 450px;
  flex-basis: 50%;
  flex-grow: 1;
  padding-bottom: 20px;
}

.review-pic-name-date-box {
  display: grid;
  grid-template-columns: 80px 200px;
  grid-template-rows: auto;
  width: 100%;
}

.review-name-date-box {
  line-height: 30%;
}

img {
  border-radius: 50%;
}

.review-paragraph {
  padding-right: 20px;
}

.read-more {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  display: inline;
}
/*
=========================================
    Button
=========================================
 */

 button {
   padding: 20px;
   border-radius: 10px;
   font-weight: bold;
   outline: none;
   background: none;
   border: gray solid 1px;
 }

/*
=========================================
    Pop Up Modal
=========================================
 */

.modal {
  margin: 25px auto;
  outline: none;
  width: 90%;
  max-width: 1200px;
  height: auto;
  max-height: 90%;

  background-position: center;
  background-color: white;
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
  border-radius: 10px;
  overflow: auto;/*////////////////////////*/
}

.x-button {
  color: black;
  font-weight: 300;
  font-family: 'Helvetica', sans-serif;
}

.module-box {
  padding: 25px 0 25px 25px;
}

.modal-inside-flex {
  /* box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128); */
  max-height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  overflow-y: auto;
}

.left-side-modal {
  flex-basis: 50%;
  flex-grow: 1;
}

.right-side-modal {
  flex-basis: 50%;
  flex-grow: 1;
}

/* .inner-right {
  overflow-y: auto;
  min-height: 300px;
  max-height: 600px;
} */

.input-form {
  width: 90%;
  border-radius: 30px;
  padding: 7px;
  background-color: rgba(233, 220, 220, 0.098);
  border: 1px solid rgba(128, 128, 128, 0.66);
}
input {
  width: 90%;
  outline: none;
  margin-left: 10px;
  border: none;
  background-color: rgba(233, 220, 220, 0);
}
.input-form:focus-within {
  border: 2px solid rgba(128, 128, 128, 1);
}

