/*
=========================================
    Full body
=========================================
 */

.full-body {
  margin-left: 100px;
}

/*
=========================================
    Ratings
=========================================
 */
.rating {
  width: 25%;
  float: left;
  padding-bottom: 10px;
}

.rating-box, button {
}

/*
=========================================
    Reviews
=========================================
 */

.review {
  display: inline-block;
  width: 40%;
  padding: 10px;
}

.name-date, .profile-picture {
  display: inline-block;
}
.name-date {
  line-height: 50%;
  text-align: left;
  padding-top: -20px;

}

.profile-picture {
  padding-right: 15px;
}

img {
  border-radius: 50%;
}

.review-body {

}