/*
=========================================
    Full body
=========================================
 */

.full-body {
  margin-left: 100px;
}

/*
=========================================
    Ratings
=========================================
 */
.average {
}

.rating {
  padding-bottom: 10px;
}

.ratings-box {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;
}


/*
=========================================
    Reviews
=========================================
 */
.reviews-box {
  border-style: dotted;
}

.review {
  display: grid;
  width: 40%;
  border-style: dotted;
  /* padding: 10px; */
}

.name-date, .profile-picture {
  display: inline-block;
}
.name-date {
  line-height: 50%;
  text-align: left;
  /* padding-top: -20px; */

}

.profile-picture {
  padding-right: 15px;
}

img {
  border-radius: 50%;
}

.review-body {
  height: 100px;
  padding: 10px;
}